@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #083344;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-fade-enter {
  opacity: 0;
  transform: translateY(10px);
}

.text-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.text-fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.text-fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.neon-border {
  border: 2px solid #ffcc00;
  box-shadow: 0 0 5px #ffcc00, 0 0 5px #ffcc00, 0 0 10px #ffcc00;
}

.bg-gradient {
}

.bg-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 20% 20%, #ffcc00, transparent 40%),
    radial-gradient(circle at 80% 30%, #f0f9ff, transparent 50%),
    radial-gradient(circle at 30% 80%, #e0f2fe, transparent 60%),
    radial-gradient(circle at 70% 70%, #bae6fd, transparent 70%),
    radial-gradient(circle at 10% 50%, #7dd3fc, transparent 80%),
    radial-gradient(circle at 90% 90%, #38bdf8, transparent 90%),
    radial-gradient(circle at 40% 40%, #0ea5e9, transparent 100%),
    radial-gradient(circle at 60% 20%, #0284c7, transparent 70%),
    radial-gradient(circle at 50% 60%, #0369a1, transparent 60%),
    radial-gradient(circle at 20% 30%, #075985, transparent 50%),
    radial-gradient(circle at 80% 80%, #0c4a6e, transparent 40%),
    radial-gradient(circle at 10% 90%, #082f49, transparent 30%),
    radial-gradient(circle at 50% 90%, #0d9488, transparent 20%);
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  opacity: 0.6;
  z-index: 1;
}

.bg-gradient-content {
  position: relative;
  z-index: 2;
}
