@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #d1d5db;
  background: linear-gradient(
    135deg,
    #3a4149 0%,
    #16191e 25%,
    #080808 75%,
    #1d1e21 100%
  );
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-fade-enter {
  opacity: 0;
  transform: translateY(10px);
}

.text-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.text-fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.text-fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.neon-border {
  border: 2px solid #ffcc00;
  box-shadow: 0 0 5px #ffcc00, 0 0 5px #ffcc00, 0 0 10px #ffcc00;
}

.bg-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 20% 20%, #ffcc00, transparent 40%),
    radial-gradient(circle at 80% 30%, #f0f9ff, transparent 50%),
    radial-gradient(circle at 30% 80%, #e0f2fe, transparent 60%),
    radial-gradient(circle at 70% 70%, #bae6fd, transparent 70%),
    radial-gradient(circle at 10% 50%, #7dd3fc, transparent 80%),
    radial-gradient(circle at 90% 90%, #38bdf8, transparent 90%),
    radial-gradient(circle at 40% 40%, #0ea5e9, transparent 100%),
    radial-gradient(circle at 60% 20%, #0284c7, transparent 70%),
    radial-gradient(circle at 50% 60%, #0369a1, transparent 60%),
    radial-gradient(circle at 20% 30%, #075985, transparent 50%),
    radial-gradient(circle at 80% 80%, #0c4a6e, transparent 40%),
    radial-gradient(circle at 10% 90%, #082f49, transparent 30%),
    radial-gradient(circle at 50% 90%, #0d9488, transparent 20%);
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  opacity: 0.6;
  z-index: 1;
}

.bg-gradient-content {
  position: relative;
  z-index: 2;
}

/* Portfolio */
.card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 20px black;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-end; /* Align items to the bottom */
  padding: 10px; /* Add some padding for spacing */
  transition: bottom 0.3s;
}

.card:hover .overlay {
  bottom: 0;
}

.creative__text--animation-2 {
  --primary-color: #ffcc00;
  --text-color: #ffffff;
  --text-color-transparent: rgba(255, 255, 255, 0.1);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 4em; /* Default size for larger screens */
  font-weight: 600;
  color: var(--text-color);
}

.creative__text--animation-2 > span {
  position: relative;
  color: var(--text-color-transparent);
  animation: displayText-2 12s infinite;
  animation-delay: calc(-3s * var(--i));
}

.creative__text--animation-2 span::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-right: 2px solid var(--primary-color);
  color: var(--primary-color);
  animation: animate-2 3s linear infinite;
  filter: drop-shadow(0 0 5px var(--primary-color))
    drop-shadow(0 0 25px var(--primary-color));
}

@keyframes displayText-2 {
  0% {
    display: inline-block;
  }
  25%,
  100% {
    display: none;
  }
}

@keyframes animate-2 {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .creative__text--animation-2 {
    font-size: 3em; /* Medium screens */
  }
}

@media (max-width: 768px) {
  .creative__text--animation-2 {
    font-size: 2em; /* Small screens */
  }
}

@media (max-width: 480px) {
  .creative__text--animation-2 {
    font-size: 1.5em; /* Extra small screens */
    margin-top: 4rem;
  }
}
