@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #083344;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-fade-enter {
  opacity: 0;
  transform: translateY(10px);
}

.text-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

.text-fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.text-fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.neon-border {
  border: 2px solid #ffcc00;
  box-shadow: 0 0 5px #ffcc00, 0 0 5px #ffcc00, 0 0 10px #ffcc00;
}
